.vert-nav {
  margin-left: -1.4rem;
}

.global-text h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-right: 2rem;
}

.global-text p {
  /* margin-right: 2rem; */
  font-size: 2rem;
}

.jewelry-card-bracelet {
  align-self: center;
  width: 47%;
  margin-right: -2rem;
  margin-left: -3rem;
}
.jewelry-card-ring {
  width: 47%;
}
.about-jewelry-bold {
  font-size: 3rem;
}
.jewelry-card-container {
  margin-left: -11rem;
}
.jewelry-card-text {
  font-size: 1.6rem;
  margin-right: -12rem;
}

.mini-logo {
  width: 64%;
  margin-left: -7rem;
}

.he-cover-slide {
  width: 110%;
}
.he-info-slide {
  width: 110%;
  justify-self: left;
}

.slide-layout {
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 22% 20% 20% 38%;
}

.slide-title-box {
  grid-column: unset;
  margin: 0;
  justify-content: center;
}
.num-logo {
  padding-left: 0;
}
.slide-title-box .slide-title {
  padding: 1rem;
  text-align: center;
}

.slide-detail-text-box {
  grid-column: 2;
  grid-row: 4;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.slide-detail-text-box .slide-detail-box-h1 {
  margin: 0;
}

.slide-detail-text-box .slide-detail-box-p {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
}
.slide-items-wrapper {
  margin: -20px;
  align-items: center;
  justify-content: center;
  grid-column: 2/ 3;
  grid-row: 2/4;
  position: relative;
}
.slide-items-wrapper .slide-items-image {
  width: 100%;
}

.cover-pg-he,
.cover-pg-lc,
.cover-pg-ss,
.cover-pg-nwd,
.cover-page-num {
  grid-template-columns: 15% 65% 12% 8%;
}
.cover-pg-he .project-role-title,
.cover-pg-lc .project-role-title,
.cover-pg-ss .project-role-title,
.cover-pg-nwd .project-role-title,
.cover-page-num .project-role-title {
  margin: 1rem 0 0 0;
}

.lc-desktop {
  margin-top: 3rem;
  width: 100%;
}
.lc-mobile {
  width: 50%;
  grid-row: 2;
  grid-column: 2;
  margin-left: 3rem;
  justify-self: start;
}
.LC-slide-title-wrapper {
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  flex-direction: column;
}
.LC-slide-title-wrapper .LC-logo {
  width: 65%;
  padding: 1rem 0 0 0;
}
.LC-slide-title-wrapper .LC-slide-title {
  margin: 0;
  text-align: center;
  padding: 0;
  font-size: 37px;
  font-weight: 700;
}
.LC-neutral {
  grid-template-rows: 25% 15% 20% 40%;
}
.LC-neutral .LC-slide-items-wrapper {
  grid-row: 2/4;
  flex-direction: row;
  padding: 0 2rem;
  position: relative;
  align-items: center;
}
.slide-items-monitor {
  margin-right: 50px;
  width: 100%;
  padding: 0;
}
.experts-mobile-position {
  width: 141px !important;
  position: absolute;
  top: 110px;
  right: 2rem;
  margin: 0;
}
.LC-approach-credits {
  grid-row: 4/4;
  padding: 0 2rem;
  grid-column: 2;
  margin: 0;
}
.LC-approach-credits .slide-subject {
  color: #3e0c27;
  margin: 0;
  text-align: center;
  padding-top: 2rem;
}
.LC-approach-credits .slide-items-text {
  color: #3e0c27;
  padding: 0;
  font-weight: 600;
}
.LC-style-guide {
  margin-top: -4rem;
}

.LC-slide-mobile {
  height: 375px;
  margin: 0;
  width: auto;
}
.LC-testimonial {
  padding: 0 0 0 1rem;
  margin: 0;
  font-size: 26px;
}
.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.form-footer .LC-button,
.form-footer .btn-visit-site {
  margin: -1.5rem 0 0 0;
  padding: 0.4rem;
}

.ss-mobile {
  width: 98%;
}

.SS-slide-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  flex-direction: column;
}
.SS-slide-title-wrapper .SS-logo {
  padding: 0;
  width: 25%;
}
.SS-slide-title {
  padding: 0;
  margin: 0;
  text-align: center;
}
.SS-slide-monitor-view {
  width: 70%;
  align-self: center;
  padding: 0;
}
.SS-slide-3-item-wrapper {
  margin: 0 1rem;
  grid-row: 2 / 4;
}

.SS-landing-card-wrap {
  width: 60%;
}
.SS-landing-card-wrap-mobile {
  width: 40%;
}
.SS-slide-mobile-view {
  width: 100%;
}

.slide-menu {
  padding: 1rem;
}
.slide-items-text strong {
  padding-bottom: 0.5rem;
}
.nwd-slide-title-box {
  flex-direction: column;
  justify-content: flex-start;
}
.nwd-slide-title-box .nwd-logo {
  width: 70%;
  height: auto;
  margin: 1rem;
  object-fit: contain;
}
.nwd-slide-title-box .NWD-blue-text {
  text-align: center;
  margin: 0 2rem;
  text-transform: capitalize;
}
.nw-card picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jewelry-hand-ring img {
  width: 65%;
  border-radius: 15px;
  object-fit: contain;
}

.jewelry-cover {
  width: 95%;
  border-radius: 15px;
  object-fit: contain;
}

.summary-result {
  display: none;
}

.portfolio-4-summary {
  color: #001843;
  margin: 0;
  padding: 0;
}

/* .about-cover-page {
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: 95%;
} */
/* .home-title-wrapper {
  flex-direction: column;
  margin-left: 1.5rem;
} */

.about-logo {
  padding: 0 1.3rem 0.5rem 1.3rem;
  width: 110%;
}
.home-pg-title {
  padding: 0.5rem 1.3rem;
}
.home-pg-title {
  white-space: normal;
}
/* .vert-stripe {
  display: none;
} */
.home-second-line {
  margin: 0;
  padding-right: 0;
}
/* .about-me {
  grid-row: 1;
  grid-column: 2;
} */

.fp-viewing-Homepage-0 .fp-controlArrow.fp-next {
  right: 0%;
  top: 85%;
  height: 70px;
  border-width: 0;
  width: 385px;
}
.portfolio-nav-btn {
  grid-column: 1;
  margin: 3rem 5rem 0 5rem;
}

.homepage-center-text {
  /* margin: 0 5rem; */
  /* font-size: 5rem; */
}

.homepage-center-text:after {
  padding: 34px;
}

.portfolio-btn {
  display: flex;
  align-items: center;
  height: 60%;
}
.portfolio-btn .portfolio-nav-btn {
  display: flex;
  align-items: center;
  height: 20%;
}

.about-title-bold {
  padding-right: 2rem;
  font-size: 2.8rem;
  padding-left: 30vw;
}

.header-menu {
  background: #334467;
  position: unset;
}
.about-block img {
  height: 100%;
}
.about-right-nav {
  margin: 0;
}
/* .about-me {
  height: 100%;
  justify-content: center;
  align-items: center;
} */

.about-slide-content-wrapper {
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-row: 1/ 5;
}
.offerbox-wrapper {
  width: 450px;
  flex: 1;
  padding: 0;
  grid-template-rows: 8% 25% 36% 21%;
}
.offerbox-label {
  font-size: 1.5rem;
}
.offer {
  font-size: 1.4rem;
}
.logo-grid-box {
  margin-top: -2rem;
  width: 400px;
}
.offerbox-title {
  margin-bottom: 1rem;
}
.logo-grid {
  margin: 0 3rem 1rem 3rem;
}
.logo-grid .logos {
  height: 5rem;
}
.offers-mograph {
  margin-top: 1rem;
}
/* .about-SS-slide {
  background: linear-gradient(180deg, rgba(0, 23, 66, 1) 0%, #1d4288 100%);
} */
.homepage5-content-wrapper {
  grid-column: 1/4;
  display: block;
  margin-top: 4rem;
}
.logo-credits-wrapper {
  padding: 0 3rem 4rem 19px;
  height: 133px;
  width: 100%;
  flex-direction: row;
}
.SS-logo-large {
  z-index: 10;
  width: auto;
  height: 175px;
}
.caption {
  margin-right: 3rem;
  background-color: unset;
  margin-top: 3rem;
}
.SS-experience {
  background-color: unset;
}
.SS-experience-wrapper {
  margin: auto;
  width: 70%;
  margin-top: 11rem;
}
.rainaskot-landscape {
  clip-path: polygon(101% 0, 100% 0, 100% 50%, -98% 100%, 0 100%, 0 30%);
}
.SS-experience strong,
.SS-experience span {
  font-size: 2rem;
}
.jewelry-slide-content-wrapper {
  grid-column: 1/ 5;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
}
.about-jewelry-biz .jewelry-card-text {
  margin: 0 4rem;
  /* margin-right: -20rem; */
  display: block;
  z-index: 9;
  text-align: left;
}
.about-jewelry-biz .jewelry-card-container {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin: 4rem; */
  position: relative;
  margin-left: 0;
}
.about-jewelry-biz .jewelry-card-container .jewelry-card-bracelet {
  left: 4rem;
  top: 0;
  margin: 0;
  position: absolute;
}
.about-jewelry-biz .jewelry-card-container .jewelry-card-ring {
  position: absolute;
  /* margin-top: 200px; */
  top: 109px;
  left: 57%;
}
.global-text-wrapper {
  grid-column: 1 / 4;
  padding: 3rem 4rem 0 4rem;
}
.global-text h1:first-of-type {
  margin-top: 2rem;
}
.global-text h1 {
  font-size: 3rem;
  margin: 0;
}
.resume-main-wrapper {
  grid-row: 1/ 3;
  grid-column: 2/ 3;
  margin: 0 33px 0 20px;
}

.resume-header {
  padding: 1rem 4rem 0 1rem;
}

.resume-header h1 {
  margin-top: -1rem;
}

.client-list,
.experience {
  padding: 0;
}
.client-list {
  padding-right: 1rem;
}

.resume-logo {
  width: 60%;
}

.resume-text {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  z-index: 3;
  color: rgb(255, 255, 255, 0.8);
  padding: 0 1rem;
}

.resume-text p {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.resume-text h1,
h2,
h3 {
  font-weight: 400;
}
.client-list h2 {
  width: 220px;
  padding-bottom: 0.5rem;
  line-height: 2rem;
}
.skill-primary-title {
  padding-bottom: 0;
  border-bottom: dotted;
}
.skill-second-title {
  padding-top: 0;
}

.about-ipad {
  display: grid;
}

/* .about-screen {
  display: none;
} */

.have-idea-title {
  font-size: 3rem;
}

.bulb-svg {
  padding: 0 2rem 0 0;
  width: 60%;
}
.contact-form-wrapper {
  width: 100vw;
  border-radius: 0;
  margin: 0;
}

form {
  width: 90vw;
}

.num-slide-subtitle {
  color: rgb(1 31 88);
}
.num-illustration-detail {
  height: 47%;
  position: absolute;
  right: -12px;
  bottom: 85px;
}
.num-slide-title-resize {
  text-align: center;
  white-space: nowrap;
}
.portfolio5-1-summary {
  margin-top: 10rem;
}
.NUM-gradient .slide-detail-text-box {
  grid-row: 3;
}



.next-arrow-container {
  margin-left: unset;
}
