/* All slides Classes */
.next-arrow-container {
  width: 78%;
  margin-left: auto;
}

.down-arrow {
  margin-left: 1.8rem;
}

.up-arrow {
  margin-left: 1.8rem;
}

.mini-logo {
  width: 99%;
  margin: 0;
}

#fp-nav.fp-left {
  left: -28px;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  height: 100px;
  width: 50px;
  border: none;
}

.fp-viewing-Portfolio1-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio2-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio3-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio4-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio5-0 .fp-controlArrow.fp-next {
  right: 15%;
}

body.fp-viewing-Homepage-0 #fp-nav.fp-left,
body.fp-viewing-Contact-0 #fp-nav.fp-left {
  display: none;
}

.slide-layout {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20% 20% 40% 20%;
}
.slide-right {
  width: 50%;
  height: 100%;
  align-items: center;
  grid-row: 1/5;
}

.slide-left {
  width: 50%;
  height: 100%;
  align-items: center;
  grid-row: 1/5;
}

.header-menu a {
  padding: 1rem 0.5rem;
}
/* #Homepage About me Cover Page */

.about-cover-page {
  grid-template-columns: 86% 14%;
  grid-template-rows: 23% 8% 23% 23% 23%;
  background-image: url(./images/Blue_ball_wave_moblie_website.png);
  background-size: cover;
}

.about-color-block {
  display: none;
}

.about-logo {
  width: 66%;
  margin-bottom: 0.8rem;
  padding: 0 0.5rem;
}
.about-intro {
  grid-row: 1;
  flex-direction: column;
}
.about-tagline {
  margin-block-start: 0rem;
  margin-block-end: 0.5rem;
  padding: 1rem 0 0 0;
  font-size: 2rem;
  line-height: 0.5rem;
}
.tech-gallery-box,
.tech {
  grid-row: 3;
  grid-column: 1;
}
.nonprofit-gallery-box,
.nonprofit {
  grid-row: 4;
  grid-column: 1;
}
.retail-gallery-box,
.retail {
  grid-row: 5;
  grid-column: 1;
}
.vert-stripe {
  display: none;
}
.vert-nav {
  margin: 0 1rem 0 -1rem;
}
.home-page-arrow {
  margin-left: -3rem;
}
.icon-label {
  margin: 0rem;
}
#about-right-arrow {
  width: 40%;
  margin-left: -1rem;
  opacity: 0.8;
}
.slide-one {
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 28% 12% 20% 40%;
}

.portfolio-text {
  margin: 10rem 2rem 0 1rem;
}
.home-down-arrow {
  border-top: 1.5rem solid #f0ebdb;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  margin-left: 4rem;
}
.home-title-wrapper {
  align-items: start;
  justify-items: center;
  flex-direction: column;
}
.home-first-line-wrapper {
  margin: 0rem 20rem 0rem -23px;
}

.home-pg-title {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.4rem;
  font-weight: 700;
}

.home-second-line {
  padding-top: 2rem;
  margin: 0;
  white-space: normal;
  font-weight: 500;
  font-size: 1.4rem;
}

.homepage-center-text {
  margin-left: 2rem;
  letter-spacing: 1.1rem;
  line-height: 1.1rem;
}

.video-mobile-fallback {
  display: cover;
}

#homepage-video {
  display: none;
}

.home-page-gallery {
  flex-flow: column;
}
.about-me {
  grid-column: 1 / span2;
  grid-row: 4;
  margin-bottom: 3rem;
  margin-left: 8rem;
}
.about-title-bold {
  font-size: 2rem;
  padding-right: 1rem;
  font-weight: 500;
  text-shadow: 3px 3px #001742;
}

.about-color-block {
  grid-column-start: 2;
}
.about-right-nav {
  border-left: 1.5rem solid rgb(252, 192, 98, 0.6);
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  margin-left: 0.5rem;
}

.fp-viewing-Homepage-0 .fp-controlArrow.fp-next {
  right: 0%;
  top: 57%;
  height: 13vh;
  width: 44vw;
  border: 0;
}

.portfolio-nav-btn {
  grid-row: 5;
  width: 8%;
  z-index: 15;
  grid-column: 1;
  margin-top: -2rem;
}
.vertical-btn {
  z-index: 10;
  opacity: 1;
}
.horizontal-btn {
  display: none;
}
/* Homepage/1 Offerings slide */

.about-slide-content-wrapper {
  grid-row: 1/ 5;
  grid-column: 1 / span2;
  display: flex;
  flex-direction: column;
}
.offerbox-wrapper {
  height: 50%;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: -1.4rem;
}
.offerbox-title {
  font-size: 1.6rem;
}
.offer-list-title {
  padding-right: 0;
}
.offerbox-label {
  font-size: 1.5rem;
}
.offer {
  font-size: 1rem;
}
.tools {
  white-space: nowrap;
  margin-bottom: 0rem;
  margin-left: 3rem;
}
.logo-grid-box {
  margin: 0 3rem 2rem 3rem;
}
.logo-grid {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem 0rem;
  margin: 0rem 0rem 2rem 2rem;
  width: 82%;
}
.logos {
  height: 3.4rem;
}

/* Homepage/2 Training Details */
.training-page-grid {
  grid-template-rows: repeat(5, 18.5%);
}

.training-title {
  margin: 6rem 0 0 -1rem;
  font-size: 2rem;
}

.training-overlay {
  font-size: 1.8rem;
  margin: 1rem;
}

.training-page-arrow {
  grid-row: 1/ 6;
}

/* #Homepage/3 Global Studies */

.global-text-wrapper {
  grid-column: 1/ 3;
  margin: 8rem 3rem 0 1rem;
  padding: 0;
}
.global-text h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  white-space: nowrap;
  text-align: left;
}
.global-text p {
  font-size: 1rem;
  padding-bottom: 1rem;
}
/* Hompage/4 About my jewelry business */
.about-jewelry-biz {
  grid-template-columns: 10% 20% 60% 10%;
}

.jewelry-slide-content-wrapper {
  flex-direction: column;
}

.about-jewelry-bold {
  font-size: 2rem;
  line-height: 0rem;
  margin-left: 1rem;
}

.jewelry-card-bracelet {
  width: 62%;
}
.jewelry-card-ring {
  width: 62%;
  margin-top: 5rem;
}

.jewelry-card-text {
  font-size: 1.4rem;
  z-index: 4;
  text-align: left;
  margin: -1rem;
}

.jewelry-card-text-strong {
  font-size: 1.8rem;
}
/* #Homepage/5 About my role at Sangsangai */
.picture-cutaway {
  grid-row-end: 3;
  margin-top: 7rem;
}
.rainaskot-landscape {
  clip-path: polygon(100% 0, 100% 0, 100% 75%, 0 100%, 0 25%);
}

.homepage5-content-wrapper {
  margin-top: 5rem;
  display: inline-block;
}

.logo-credits-wrapper {
  flex-direction: row;
}

.caption {
  font-size: 0.9rem;
  text-align: right;
  margin: 4rem -4rem 0 0;
  line-height: 1rem;
}

.SS-logo-large {
  height: 89px;
  width: auto;
}

.SS-experience-wrapper {
  margin: 5rem 0 0 0;
}

.SS-experience {
  font-size: 1rem;
  padding: 1rem;
}

.SS-experience strong {
  font-size: 1.2rem;
}

/* #Homepage/6 Resume Content */
.mobile-size-adjust {
  width: 20px;
}

.resume-main-wrapper {
  padding: 0.5rem 0.5rem 7rem 0.5rem;
}

.resume-logo {
  margin-top: -1rem;
  margin-left: -1.5rem;
  fill: #fff;
}
.resume-header {
  padding: 0;
}
.resume-header h1 {
  display: none;
}
.resume-header h2 {
  font-size: 1rem;
}
.resume-text {
  flex-direction: column;
}

.resume-text h2 {
  font-size: 1.3rem;
}
.resume-text h3 {
  font-size: 1.3rem;
}
.resume-text p {
  font-size: 1rem;
}
.resume-text a {
  font-size: 1rem;
}

.client-list,
.experience {
  padding: 0;
  width: 100%;
  margin-top: 0.5rem;
}

.experience {
  margin-top: 1.3rem;
  padding-bottom: 2rem;
}
 
#resume-return-home {
  position: absolute;
  top: 45%;
}

/* All cover Pages */
.project-role-title {
  margin-left: 2.5rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  width: 100%;
}
/* Huntre Equine Cover and Slides */
.cover-page-he {
  grid-template-columns: 7% 56% 23% 14%;
}
.he-cover-slide {
  padding: 0 1rem 3rem 1rem;
  width: 130%;
}
.he-info-slide {
  padding: 3rem 0 0 1rem;
  width: 130%;
  justify-self: left;
}

.slide-items-monitor {
  width: 81%;
  padding-top: 5rem;
  align-self: center;
}

.slide-detail-text-box {
  grid-column: 2;
  grid-row: 3;
  margin-left: 0rem;
}
.slide-detail-box-h1 {
  font-size: 2rem;
  text-align: center;
}
.slide-detail-box-p {
  margin: 0 2rem;
  color: black;
}
.text-box-spacing {
  margin-top: 4.1rem;
}

.slide-items-text {
  padding: 0rem 1rem;
  color: black;
  font-size: 1rem;
}

.slide-items-wrapper {
  grid-row: 2;
  grid-column: 1 / 4;
  margin-top: 15;
  margin: 0rem 1rem 0 1rem;
  align-items: center;
  justify-content: center;
}
.PPT-size {
  margin: -4rem 1rem 0 1rem;
}
.slide-items-image {
  width: 100%;
}

#portfolio5-3-wrapper {
  left: -2.5rem;
  top: -4rem;
  grid-row: 2;
  grid-column: 2;
  position: relative;
  margin: 0;
}

#mobile-num-monitor {
  padding: 0;
  width: 104%;
}

.num-illustration-detail {
  position: relative;
  left: 6rem;
  top: 3rem;
  height: 65%;
}

/* Huntre Equine Cover and Slides */
.cover-pg-he {
  grid-template-columns: 7% 56% 23% 14%;
}

.slide-title-box {
  flex-direction: column;
  align-items: center;
  padding-right: 0rem;
  margin-right: 0;
  grid-column: 2;
}
.objective-approach-credits {
  grid-column: 2;
  grid-row: 3;
  z-index: 4;
  margin: -2rem 0rem 0rem 0rem;
}
.slide-title {
  padding: 0;
  font-size: 1.3rem;
  text-align: center;
}
/* Listen Closely Cover and Slides */
.cover-pg-lc {
  grid-template-columns: 7% 56% 23% 14%;
}

.LC-neutral-text {
  color: #3e0c27;
}

.lc-desktop {
  width: 112%;
  margin-left: 2rem;
  margin-top: 4.6rem;
}

.lc-mobile {
  width: 30%;
  margin: 0;
  margin: 0 0 0 -5rem;
  z-index: 2;
}

.LC-slide-items-wrapper {
  grid-row: 2;
  margin-top: 2rem;
}

.LC-slide-monitor {
  padding: 0 2rem 0 1rem;
  width: 80%;
  margin-top: -3rem;
}

.LC-approach-credits {
  grid-column: 2;
  grid-row: 3 / 5;
  margin-top: 1.2rem;
  margin-bottom: 6rem;
  margin-left: 1rem;
}

.LC-design-credits {
  margin-top: 5.2rem;
}

.LC-approach-credits-titles {
  margin: 0rem;
  font-size: 3rem;
  text-align: center;
}

.LC-approach-credits-text {
  color: #3e0c27;
  font-size: 0.9rem;
  margin-right: 0rem;
}

.LC-slide-title-wrapper {
  flex-direction: column;
  align-items: center;
  padding-right: 0rem;
  padding-bottom: 2rem;
}

.LC-logo {
  padding: 0rem;
  width: 85%;
}

.LC-slide-title {
  font-size: 1.3rem;
  padding: 0rem;
  text-align: center;
  margin-block-start: 0rem;
}

.LC-slide-mobile {
  width: 40%;
  margin-left: 1rem;
  margin-top: 2rem;
}

.LC-testimonial {
  padding: 0.65rem;
  margin: 1rem 1rem 0rem 1rem;
  font-size: 0.8rem;
}

.slide-items-monitor {
  width: 80%;
  padding: 0rem 0 0 1rem;
}

.LC-button {
  font-size: 1rem;
  margin: -0.5rem 0 0 0.7rem;
}
.LC-style-guide {
  grid-row: 2;
  width: 85%;
  margin-top: 3rem;
}

.LC-testimonial-page {
  margin-top: -3rem;
}
/* Sangsangai Cover and Slides */
.cover-pg-ss {
  grid-template-columns: 7% 56% 23% 14%;
}

.ss-mobile {
  opacity: 0;
}

.ss-mobile-single {
  width: 85%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  z-index: 2;
  margin-left: 2.3rem;
  opacity: 1;
}

.SS-slide-title-wrapper {
  flex-direction: column;
  padding-right: 0rem;
  align-items: center;
}

.SS-slide-title {
  padding: 0;
  font-size: 1.3rem;
  text-align: center;
}

.SS-logo {
  width: 35%;
  margin-top: 1rem;
  padding: 0;
}

.SS-approach-credits {
  grid-column: 2;
  grid-row: 3;
  margin: 3rem 0 0 0;
}

.slide-subject {
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
}

.SS-block-text {
  font-size: 0.8rem;
  margin-right: 0;
}

.SS-slide-monitor-view {
  width: 65%;
  padding: 3rem 6rem 0rem 6rem;
}

.SS-slide-3-item-wrapper {
  flex-direction: column;
  margin: 3rem 1rem 0 1rem;
}

.SS-landing-card-wrap {
  width: 79%;
}

.SS-slide-mobile-view {
  opacity: 0;
  margin-top: -1rem;
}

.SS-button,
.num-button,
.LC-button {
  font-size: 0.8rem;
  padding: 0.3rem;
  margin: 0.5rem 0 0 0;
}

.SS-full-graphic-overlay {
  opacity: 100%;
}

/* NW Cover Page */
.cover-pg-nwd {
  grid-template-columns: 7% 56% 23% 14%;
}
/* Numerati Cover and Slides */

.cover-page-num {
  grid-template-columns: 7% 56% 23% 14%;
}
.num-cover-slide {
  width: 92%;
  grid-column: 1 / 5;
  grid-row: 2;
  z-index: 1;
  margin-left: -2rem;
  margin-top: 18rem;
}

.num-cover-illustration {
  margin: -18rem 0 0 0;
  width: 130%;
}

.num-cover-monitor {
  display: block;
  width: 115%;
  margin: -13rem 0 1rem 6rem;
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
}

.num-cover-mobile {
  display: block;
  grid-row: 3;
  width: 87%;
  z-index: 4;
  margin: -9rem 0rem 0 -1rem;
}

.num-logo {
  padding: 1rem 0 0 0;
  width: 90%;
  height: auto;
}

.num-full-graphic-overlay {
  height: 40%;
  margin-top: 18rem;
}
.num-part-graphic-overlay {
  grid-column: 2;
  opacity: 100%;
}

.detail-caption {
  font-size: 1rem;
}

.nwd-slide-title-box {
  flex-direction: column;
}
.nwd-slide-title-box .nwd-logo {
  margin: 1rem;
}
.nwd-slide-title-box .NWD-blue-text {
  text-align: center;
}

.num-slide-position {
  width: 90%;
  margin-top: 0;
}

.portfolio-summary {
  grid-row: 4;
}

.portfolio-summary-text {
  color: #001843;
}

.portfolio-4-summary {
  color: #001843;
}

.portfolio-4-summary p {
  font-size: 1rem;
}

.nw-card {
  width: 80%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  align-self: center;
  justify-self: center;
  margin-top: 0.5rem;
}
.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 70vw;
}

.cover-pg-lc .lc-mobile {
  width: 60%;
  padding: 0;
}
.LC-slide-items-wrapper .lc-mobile {
  align-self: auto;
}
.portfolio-jewelery {
  grid-template-rows: unset;
}
.portfolio-jewelery .portfolio-summary {
  grid-row: 3;
}
.portfolio-jewelery .summary-result {
  display: none;
}
.portfolio-jewelery .slide-subject {
  margin-top: 0;
}
.portfolio-jewelery .nwd-slide-title-box .NWD-blue-text {
  margin: 0px 7px;
  font-size: 19px;
}
.portfolio-jewelery .nwd-slide-title-box .nwd-logo {
  margin: 1rem 0 0 0;
  height: auto;
  width: 60%;
}

.portfolio-3-credits {
  grid-template-rows: unset;
}
.portfolio-3-credits .SS-slide-title-wrapper {
  justify-content: flex-start;
}
.portfolio-3-credits .SS-slide-3-item-wrapper {
  padding: 0;
  margin: 0;
}
.portfolio-3-credits .slide-detail-text-box {
  margin: 0;
}

/* Contact Page */

.have-idea-title {
  font-size: 1.8rem;
  margin-left: 5vw;
  margin-top: 3rem;
}

.second-line {
  margin-top: 0;
}

.bulb-svg {
  margin-top: 3rem;
  margin-left: -6rem;
  width: 60%;
  padding: 0 0.5rem 0 0;
}

.contact-form-wrapper {
  margin: 0;
  border-radius: 0;
}

.availability-text {
  padding-left: 1rem;
}

#contact-form {
  width: 95vw;
}

ul {
  padding-inline-start: 5px;
}

label {
  font-size: 1.1rem;
}

.footer-text {
  font-size: 0.9rem;
  margin-left: 5vw;
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
  width: 22px;
  height: 50px;
  opacity: 1;
  background-size: 22px 50px;
  right: 0;
  /* half of height 172/2*/
  margin-top: -25px;
}
[class^="fp-viewing"][class$="0"] .fp-controlArrow {
  height: 100px;
  width: 50px;
  margin-top: -50px;
}