body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.border {
  background-color: #707070;
}
.arrows {
  background-color: rgba (#fff 75%);
}
.arrowhov {
  background-color: #fff;
}

.HE-blue {
  background-color: #24273e;
}
.HE-blue-text {
  color: #24273e;
}
.HE-lt-blue {
  background-color: #6ea2b2;
}
.HE-neutral {
  background-color: #fdfaf1;
  stroke: #fdfaf1;
}
.HE-text-box {
  background-color: #fff;
}
.HE-yellow {
  background-color: #fcc062;
}
.HE-yellow-text {
  color: #fcc062;
}
.HE-gradient {
  background-image: linear-gradient(to bottom, #24273e, #6ea2b2);
}

.LC-purple {
  background-color: #3e0c27;
}
.LC-purple-text {
  color: #3e0c27;
}
.LC-yellow-text {
  color: #d8c383;
}
.LC-lt_purple {
  background-color: #7e5c6e;
}
.LC-neutral {
  background-color: #fdfaf1;
}
.LC-neutral-text {
  color: #fdfaf1;
}
.LC-text-box {
  background-color: #faefd6;
}
.LC-gradient {
  background-image: linear-gradient(to bottom, #3e0c27, #7e5c6e);
}
.LC-grey-text {
  color: #55565a;
}

.SS-teal {
  background-color: #469183;
}
.SS-teal-text {
  color: #469183;
}
.SS-orange {
  background-color: #e95035;
}
.SS-orange-text {
  color: #e95035;
}
.SS-neutral {
  background-color: #fdf8e4;
}
.SS-neutral-text {
  color: #fdf8e4;
}
.SS-black-text {
  color: #000000;
}

.NWD-neutral {
  background-color: #f0f0ce;
}
.NWD-blue {
  background-color: #001843;
}
.NWD-text-box {
  background-color: #dadcc1;
}
.NWD-blue-text {
  color: #001843;
}
.NWD-neutral-text {
  color: #f0f0ce;
}

.NUM-dusky-blue {
  background-color: #3f4c68;
}
.NUM-dusky-blue-text {
  color: #3f4c68;
}
.NUM-neutral {
  background-color: #d9d7d9;
}
.NUM-neutral-text {
  color: #d9d7d9;
}
.NUM-red {
  color: #c82537;
}
.NUM-gradient {
  background-image: linear-gradient(to right, #9ba2b5, #d9d7d9);
}

.about-blue {
  background-color: rgba(0, 23, 66);
}

.about-gradient {
  background: -moz-linear-gradient(
    50% 0% -90deg,
    rgba(0, 23, 66, 1) 0%,
    rgba(0, 23, 66, 0.4) 100%
  );
  background: -webkit-linear-gradient(
    -90deg,
    rgba(0, 23, 66, 1) 0%,
    rgba(0, 23, 66, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0, rgba(0, 23, 66, 1)),
    color-stop(1, rgba(0, 23, 66, 0.4))
  );
  background: -o-linear-gradient(
    -90deg,
    rgba(0, 23, 66, 1) 0%,
    rgba(0, 23, 66, 0.4) 100%
  );
  background: -ms-linear-gradient(
    -90deg,
    rgba(0, 23, 66, 1) 0%,
    rgba(0, 23, 66, 0.4) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 23, 66, 1) 0%,
    rgba(0, 23, 66, 0.4) 100%
  );
}

/* FP CSS Modifications */

/* Homepage Right Arrow Positioning */
.fp-viewing-Homepage-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio1-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio2-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio3-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio4-0 .fp-controlArrow.fp-next,
.fp-viewing-Portfolio5-0 .fp-controlArrow.fp-next,
.fp-viewing-Contact-0 .fp-controlArrow.fp-next {
  right: 8%;
  border-width: none;
  border-color: transparent;
}

/* Opacity adjustment */
/* 
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  opacity: 0;
  height: 100px;
  width: 100px;
} */

.fp-viewing-Homepage-0 .fp-controlArrow.fp-next {
  right: 8%;
  top: 80%;
  border: none;
  width: 22vw;
}

/* removing navigation */
body.fp-viewing-Homepage-1 #fp-nav,
body.fp-viewing-Homepage-2 #fp-nav,
body.fp-viewing-Homepage-3 #fp-nav,
body.fp-viewing-Homepage-4 #fp-nav,
body.fp-viewing-Homepage-5 #fp-nav,
body.fp-viewing-Homepage-6 #fp-nav,
body.fp-viewing-Portfolio1-1 #fp-nav,
body.fp-viewing-Portfolio1-2 #fp-nav,
body.fp-viewing-Portfolio1-3 #fp-nav,
body.fp-viewing-Portfolio1-4 #fp-nav,
body.fp-viewing-Portfolio2-1 #fp-nav,
body.fp-viewing-Portfolio2-2 #fp-nav,
body.fp-viewing-Portfolio2-3 #fp-nav,
body.fp-viewing-Portfolio3-1 #fp-nav,
body.fp-viewing-Portfolio3-2 #fp-nav,
body.fp-viewing-Portfolio3-3 #fp-nav,
body.fp-viewing-Portfolio4-1 #fp-nav,
body.fp-viewing-Portfolio4-2 #fp-nav,
body.fp-viewing-Portfolio4-3 #fp-nav,
body.fp-viewing-Portfolio5-1 #fp-nav,
body.fp-viewing-Portfolio5-2 #fp-nav,
body.fp-viewing-Portfolio5-3 #fp-nav,
body.fp-viewing-Homepage-0 #fp-nav,
body.fp.viewing-Contact-0 #fp-nav,
body.fp.viewing-Contact-0 #fp-nav.fp-left {
  display: none;
}

/* SVG classes */
.ABOUT-cls-2 {
  fill: none;
  stroke: #d89e44;
  stroke-width: 4px;
}
.ABOUT-cls-3 {
  fill: none;
  stroke: #fdfdfd;
  stroke-width: 4px;
}
.ABOUT-cls-4 {
  fill: none;
  stroke: rgba(51, 70, 105, 0.8);
  stroke-width: 4px;
}
.HE-cls-1 {
  fill: none;
  stroke: #fcc062;
  stroke-width: 4px;
}

.HE-cls-2 {
  fill: none;
  stroke: #faf6ea;
  stroke-width: 4px;
}

.LC-cls-2 {
  fill: none;
  stroke: #fdfaf1;
  stroke-width: 4px;
}

.SS-cls-2 {
  fill: none;
  stroke: #fdf8e4;
  stroke-width: 4px;
}

.NWD-cls-1 {
  fill: none;
  stroke: #e3d9bb;
  stroke-width: 4px;
}

.NUM-cls-1 {
  fill: none;
  stroke: #3f4c68;
  stroke-width: 4px;
}

.NUM-cls-2 {
  fill: none;
  stroke: #d9d7d9;
  stroke-width: 4px;
}

/* fonts */

p,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: "rajdhani", sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-family: "rajdhani", sans-serif;
}

.font-600 {
  font-weight: 600;
}

/* Spacing classes */

.mt-neg-4 {
  margin-top: -4rem;
}

/* Portfolio Pages General Classes */
.section {
  background-size: cover;
}

.project-role-title {
  margin: 1rem 0 0 -10rem;
  color: white;
  opacity: 0.6;
  line-height: 1.8rem;
  z-index: 9;
}

.mini-logo {
  width: 40%;
  margin-left: -10rem;
}

.color-block {
  grid-column-start: 4;
  grid-row: 1 / 4;
  z-index: 1;
}

.vert-title-bold {
  font-family: "rajdhani", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  transform: rotate(-90deg);
  justify-self: center;
  line-height: 0.2rem;
  margin: 0;
  white-space: nowrap;
}

.vert-title-reg {
  font-weight: 400;
  text-transform: none;
  margin: 0;
  white-space: nowrap;
  padding: 0 0 0 1rem;
}

.vert-nav {
  font-weight: 400;
  transform: rotate(-90deg);
  justify-self: center;
  text-transform: uppercase;
  font-family: "rajdhani", sans-serif;
}

/* Navigation */
.header-menu {
  z-index: 30;
  position: absolute;
  display: flex;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255, 0.8);
  justify-content: flex-end;
}

.header-menu a {
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.header-menu a:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: rgba(0, 23, 66);
}

.header-menu a:active {
  background-color: rgb(0, 23, 66);
  color: rgb(255, 255, 255, 0.8);
  border: 2px solid rgb(255, 255, 255, 0.8);
}

.next-arrow-container {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.up-arrow {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1.7rem solid #fff;
  grid-column-start: 1;
  grid-row-start: 1;
  align-items: center;
  justify-content: center;
  margin: 5rem 2rem 2rem 4.5rem;
  opacity: 0.6;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.7rem solid #fff;
  grid-column-start: 1;
  grid-row-start: 3;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem 5rem 4.5rem;
  opacity: 0.6;
}

/* Slide page general classes */

.slide-layout {
  display: grid;
  grid-template-columns: 10% 58% 32%;
  grid-template-rows: 28% 12% 20% 40%;
}

.left-colorbar {
  grid-column: 1;
  grid-row: 1 / 5;
  z-index: 2;
}

.right-colorbar {
  grid-column: 3;
  grid-row: 1 / 5;
  z-index: 2;
}

.slide-right {
  grid-column: 3;
  grid-row: 3;
  align-self: start;
  display: flex;
  justify-self: flex-end;
  margin-right: 1rem;
  z-index: 6;
}

.slide-left {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
  display: flex;
  justify-self: flex-start;
  margin-left: 1rem;
  z-index: 6;
  transform: rotate(180deg);
}
.return-home {
  transform: rotate(180deg);
}

.slide-title-box {
  grid-row: 1;
  grid-column: 2 / 4;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  margin-right: 22rem;
}

.slide-title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  padding-left: 3rem;
}

.slide-detail-text-box {
  grid-column: 3;
  grid-row: 1;
  z-index: 4;
  margin-left: 2rem;
}
.slide-detail-box-h1,
.slide-subject {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
}
.slide-detail-box-p {
  font-weight: 500;
  margin: 02rem;
}

.slide-items-wrapper {
  grid-column: 2;
  grid-row: 2 / 5;
  display: flex;
  justify-content: center;
  z-index: 8;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.slide-side-title {
  grid-column: 3;
  grid-row: 1;
  z-index: 4;
}

.btn-visit-site {
  align-items: center;
  background-color: beige;
  font-family: rajdhani;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  margin-left: 7rem;
  padding: 0.6rem;
}

/* 16.9 format image */
.slide-items-image {
  align-self: flex-start;
}

/* Monitor format image */

.slide-items-monitor {
  width: 76%;
  padding: 0rem 5rem 4rem 6rem;
  align-self: flex-start;
}

.slide-items-text {
  font-weight: 500;
  padding: 0 6rem 0 0rem;
  font-size: 1.2rem;
}

.slide-menu {
  grid-row-end: 5;
  grid-column: 2;
  align-self: end;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  z-index: 9;
}

/* #Homepage */

.about-cover-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 30.7% 30.7% 30.7% 8%;
  grid-template-rows: 20% 15% 40% 15%;
}

.about-color-block {
  grid-row: 1/ 6;
}

#homepage-video {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  object-fit: cover;
}

.homepage-center-text {
  color: #fcc062;
  font-size: 10vw;
  opacity: 0.7;
  line-height: 6rem;
  letter-spacing: 1.2rem;
  margin-left: -2rem;
  text-shadow: 5px 5px #001742;
  text-transform: uppercase;
  font-weight: 500;
}

.homepage-center-text:after {
  content: "";
  border: solid rgb(252, 192, 98);
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 4vw;
  transform: rotate(45deg);
  box-shadow: 5px 1px #001742;
}

.video-mobile-fallback {
  display: none;
}

#first-in-homepage {
  animation: slide-in-from-left 2s forwards;
}
.about-me {
  color: rgba(252, 192, 98, 0.6);
  grid-column-end: 4;
  grid-row: 4;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.about-color-block {
  grid-row: 1/ 6;
}

.about-title-bold {
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 5px 5px #001742;
  padding-left: 17vw;
  white-space: nowrap;
  padding-right: 2vw;
}

.about-right-nav {
  grid-column-start: 4;
  grid-row-start: 3;
  width: 0;
  height: 0;
  border-left: 3.5rem solid rgba(252, 192, 98, 0.6);
  border-top: 2.2rem solid transparent;
  border-bottom: 2.2rem solid transparent;
  z-index: 2;
}

.home-second-line {
  grid-row: 2;
  grid-column: 1/ 4;
  display: flex;
  white-space: normal;
  opacity: 0.85;
  margin: 0 0 0 2rem;
}

.vert-stripe {
  opacity: 0.85;
  z-index: 1;
  height: 6rem;
  margin-top: 1.6rem;
}

.home-pg-title {
  color: rgb(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 2.3rem;
  padding: 1.3rem;
  /* white-space: nowrap; */
}

.portfolio-nav-btn {
  grid-row: 3;
  grid-column: 2;
}

/* Hompeage Animations */

@keyframes slide-in-from-left {
  from {
    left: -30vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 100;
  }
}

.home-title-wrapper {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  margin-top: 4rem;
  align-items: center;
}

.logo {
  z-index: 1;
  padding: 0 3rem;
  width: 120%;
}

/* #Homepage/1 Offering and Tools Slide */

.about-slide-one {
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 30% 20% 30% 10%;
}

.about-slide-content-wrapper {
  grid-column: 2;
  grid-row: 2 / span3;
  display: flex;
  height: fit-content;
  margin-top: 5rem;
}

.offerbox-wrapper {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 8% 25% 34% 33%;
  padding-right: 4rem;
}

.offerbox-title {
  grid-column: 1 / span2;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  color: #334669;
  margin-left: 1rem;
  z-index: 4;
}

.tools {
  margin-top: 0.1rem;
}
.offerbox-title-block {
  background-color: #fdcd81;
  grid-column: 1 / span2;
  grid-row: 1;
}
.offer-list-title {
  white-space: nowrap;
  grid-row: 1/ 2;
  grid-column: 2;
  z-index: 2;
  align-self: center;
  padding-right: 5rem;
}

.offerbox-label {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  color: #334669;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  z-index: 4;
  margin: -0.8rem;
}
.digital {
  grid-row: 2;
}
.print {
  grid-row: 3;
}

.mograph {
  grid-row: 4;
  text-align: right;
}

.offer-label-overlay {
  background-color: white;
  opacity: 0.5;
  grid-column: 1/ 2;
  grid-row: 1/ 5;
  z-index: 2;
}

.offerbox-digital-block {
  background-color: #fcc062;
  grid-row: 2;
  grid-column: 1 / span2;
}

.offer {
  text-transform: uppercase;
  font-weight: 500;
  color: #334669;
  font-size: 1.5rem;
}

.offers-digital {
  grid-row: 2;
  grid-column: 2;
  z-index: 10;
}

.offerbox-print-block {
  background-color: #f8a457;
  grid-row: 3;
  grid-column: 1 / span2;
}

.offers-print {
  grid-row: 3;
  grid-column: 2;
  z-index: 10;
}

.offerbox-mograph-block {
  background-color: #f3884c;
  grid-row: 4;
  grid-column: 1 / span2;
}

.offers-mograph {
  grid-row: 4;
  grid-column: 2;
  z-index: 10;
  margin-top: 2rem;
}

.logo-grid-box {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem 2rem;
  margin: 0 3rem 2rem 3rem;
}

.logos {
  object-fit: contain;
  height: 7rem;
}

/* #Homepage/2 About Me Page-Training */

.training-page-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: repeat(5, 20%);
}

.training-page-arrow {
  grid-row: 3;
  align-self: center;
}
.training-title {
  grid-row: 1;
  grid-column: 2/ 4;
  z-index: 20;
  margin: 5rem 0 0 3rem;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}
.training-overlay {
  justify-self: center;
  align-self: center;
  z-index: 6;
  color: #ffffff;
  opacity: 0.8;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin: 9rem;
}
.training-bar {
  grid-column: 1/ 4;
  display: flex;
}
.bar-one {
  grid-row: 2;
  background-image: url(./images/Art\ training\ image.png);
  background-size: cover;
}
.bar-two {
  grid-row: 3;
  background-image: url(./images/Abstract\ particles_Slice.png);
  background-size: cover;
}
.bar-three {
  grid-row: 4;
  background-image: url(./images/Coding\ Sample.png);
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}

.bar-four {
  grid-row: 5;
  background-image: url(./images/Anomaly\ Balls_Placeholder.jpg);
  background-size: cover;
}

/* #Homepage/3 Global Perspective Slide */

.global-slide {
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 28% 12% 20% 40%;
  background-size: cover;
  overflow: hidden;
}

.global-photo {
  grid-row: 2 / 5;
  grid-column: 1 / 4;
  display: flex;
  background-size: cover;
  z-index: 4;
  filter: drop-shadow(5px 7px 4px #001742);
}

.global-text-wrapper {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
  display: flex;
  line-height: 1rem;
  padding: 7rem 6rem 0 17rem;
  z-index: 10;
}

.global-text h1 {
  font-size: 3.5rem;
  color: #d89e44;
  text-align: right;
}

.global-text p {
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.6em;
  color: white;
}

/* Homepage/4 Jewelry business slide */

.about-jewelry-biz {
  height: 100vh;
  display: grid;
  grid-template-columns: 13% 17% 60% 10%;
  grid-template-rows: 15% 70% 15%;
}

.jewelry-page-background {
  grid-row: 1 / 4;
  grid-column: 1 / 5;
  z-index: 4;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.jewelry-slide-content-wrapper {
  grid-column: 2/ 4;
  grid-row: 2;
  display: flex;
}

.jewelry-card-text {
  text-align: right;
  color: white;
  font-size: 1.6rem;
  margin: 3rem 1.5rem 0 0;
}

.jewelry-card-text strong {
  font-size: 2rem;
  color: #fcc062;
}

.jewelry-card-container {
  display: flex;
  z-index: 8;
  margin-top: 2rem;
}

.jewelry-card-ring {
  align-self: flex-end;
  width: 65%;
  z-index: 10;
  margin-left: -6rem;
}

.jewelry-card-bracelet {
  align-self: flex-start;
  width: 65%;
}

.about-side-arrows {
  grid-row: 2;
  align-self: center;
  margin: 0;
}

.right-arrow {
  grid-column: 4;
  align-self: center;
}

/* Homepage/5 About SS slide */

.about-SS-slide {
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 40% 20% 40%;
}

.picture-cutaway {
  grid-row: 1/ 4;
  grid-column: 1/ 4;
  display: flex;
}

.rainaskot-landscape {
  clip-path: polygon(62% 0, 100% 0, 100% 50%, 44% 100%, 0 100%, 0 50%);
  z-index: 1;
  width: 100vw;
}

.rainaskot-landscape img {
  width: 108%;
}

.homepage5-content-wrapper {
  grid-row: 1/ 4;
  grid-column: 2;
  display: flex;
  z-index: 6;
  margin-top: 6rem;
}

.logo-credits-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  z-index: 2;
  padding: 0 3rem 4rem 0;
}

.SS-logo-large {
  z-index: 10;
  width: 85%;
  height: auto;
}

.caption {
  color: #fff;
  white-space: nowrap;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.SS-experience-wrapper {
  display: flex;
  flex-direction: column;
  margin: 17rem 4rem 2rem 19rem;
}

.SS-experience {
  padding-bottom: 2rem;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(0, 23, 66, 0.8);
  padding: 2rem;
}

.SS-experience strong {
  font-size: 2.4rem;
}

/* #Hompage/6 Resume Details */

.resume-grid {
  display: grid;
  grid-template-rows: 3% 95% 3%;
  grid-template-columns: 6% 88% 6%;
}

.about-side-arrows.return-home {
  margin-right: 1rem;
}
.resume-main-wrapper {
  grid-row: 2/ 4;
  grid-column: 2/ 3;
  background-color: rgba(0, 23, 66, 0.8);
  padding: 1rem;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem 0 0;
}

.resume-header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  align-self: flex-end;
  color: rgb(255, 255, 255, 0.8);
  margin: 0;
}

.resume-text {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  z-index: 3;
  color: rgb(255, 255, 255, 0.8);
  margin: 0;
}

.client-list,
.experience {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.experience {
  padding-bottom: 2rem;
}
.client-list {
  width: 120%;
}

.resume-logo {
  width: 40%;
  align-self: flex-start;
}

.resume-text h1,
h2,
h3,
p,
a {
  margin: 0;
}

.resume-text h2 {
  font-size: 2.2rem;
}

.resume-text h3 {
  font-size: 1.7rem;
}

.resume-text p {
  font-size: 1.3rem;
}

.resume-text a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.8);
  font-size: 1.3rem;
  text-transform: uppercase;
}

.experience h1 {
  padding-bottom: 0rem;
}

/* #Portfolio1 Huntre Equine Pages */

.cover-pg-he {
  background-image: linear-gradient(to bottom, #6ea2b2, #24273e);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 12% 8%;
  grid-template-rows: 10% 80% 10%;
}

.he-cover-title {
  color: #faefea;
  grid-column-start: 4;
  grid-row: 2 / span 2;
  align-self: center;
  justify-self: center;
  z-index: 2;
  white-space: nowrap;
  display: flex;
  margin: 0;
  justify-self: center;
  padding: 0 0.4em 0 0;
}

.he-cover-slide {
  width: 80%;
  grid-column-start: 2;
  grid-row: 2;
  z-index: 2;
  justify-self: left;
  align-self: end;
}

.he-info-slide {
  width: 80%;
  grid-column-end: 3;
  grid-row-end: 3;
  justify-self: right;
  align-self: start;
  z-index: 1;
}

.view-he {
  color: #fcc062;
}

.vert-he-title-white {
  color: #faefea;
}

/* #Portfolio2 Listen Closely Pages */

.cover-pg-lc {
  background-image: linear-gradient(to bottom, #3e0c27, #7e5c6e);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 50% 22% 8%;
  grid-template-rows: 10% 80% 10%;
}

.lc-cover-title {
  color: #3e0c27;
  grid-column-start: 4;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
  z-index: 2;
  white-space: nowrap;
  display: flex;
  margin: 0;
  justify-self: center;
  padding: 0 5.2em 0 0;
}

.lc-desktop {
  width: 95%;
  grid-column-start: 2;
  grid-row: 2;
  z-index: 1;
}

.lc-mobile {
  width: 25%;
  grid-column-end: 3;
  grid-row-end: 3;
  justify-self: end;
  align-self: end;
  z-index: 2;
}

.view-lc {
  color: #faefea;
}
.LC-slide-title-wrapper {
  grid-row: 1;
  grid-column: 2 / 3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 3rem;
}

.LC-logo {
  width: 42%;
  height: auto;
  padding: 2.2em 1em;
}

.LC-slide-title {
  font-size: 2rem;
  font-weight: 600;
  z-index: 9;
}

.LC-slide-mobile {
  width: 25%;
  margin-left: 4rem;
}

.LC-approach-credits {
  grid-column: 3;
  grid-row: 1;
  z-index: 4;
  margin-left: 2rem;
}

.LC-approach-credits-titles {
  margin: 2rem 0rem 0rem -5rem;
}

.LC-slide-items-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  display: flex;
  align-items: flex-start;
  margin-top: -1rem;
}

.LC-slide-monitor {
  width: 56%;
  padding: 0rem 5rem 4rem 6rem;
  align-self: flex-start;
}

.LC-style-guide {
  grid-column: 2/ 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 67%;
  margin-top: 2rem;
}
.experts-mobile-position {
  margin: 5rem 0 -26rem -8rem;
}

.LC-testimonial {
  font-size: 2rem;
  justify-content: space-around;
  margin: 0rem 7rem 0rem 3rem;
  padding: 3rem;
  color: #3e0c27;
}

.LC-button {
  background-color: #6c455a;
  color: #fdfaf1;
  border-color: #fdfaf1;
  margin: 2rem 0 0 4rem;
}

.LC-button:hover {
  background-color: #fdfaf1;
  color: #6c455a;
}
/* #Portfolio3 Sangsangai Pages */

.cover-pg-ss {
  background-color: #469183;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 18% 58% 16% 8%;
  grid-template-rows: 10% 80% 10%;
}

.ss-mobile {
  width: 75%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  z-index: 2;
}

.ss-cover-title {
  color: #fdf8e4;
  grid-column-start: 4;
  grid-row: 2 / span 2;
  align-self: center;
  justify-self: center;
  z-index: 2;
  white-space: nowrap;
  display: flex;
  margin: 0;

  padding: 0 1em 0 0;
}

.view-ss {
  color: #fdf8e4;
}
/* #Portfolio3 Sangsangai Slide Classes */

.SS-slide-title-wrapper {
  grid-row: 1;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
}

.SS-logo {
  width: 20%;
  padding: 2.2em 1em;
}

.SS-slide-title {
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 16rem 2rem 0rem;
}
.SS-slide-mobile {
  width: 37rem;
  margin: 3rem 5rem;
}

.ss-mobile-single {
  opacity: 0;
}

.SS-approach-credits {
  grid-column: 3;
  grid-row: 1;
  z-index: 4;
}

.SS-block-text {
  padding-left: 2rem;
}
.SS-slide-monitor-view {
  width: 77%;
  padding: .5rem 5rem 4rem 6rem;
  align-self: flex-start;
  margin-top: -1rem;
}

.SS-slide-mobile-view {
  width: 72%;
  align-self: flex-end;
  z-index: 100;
  box-shadow: 6px 6px 11px rgb(35, 31, 32, 0.75);
}
.SS-slide-3-item-wrapper {
  grid-column: 2/ 3;
  grid-row: 2 / 5;
  display: flex;
  align-items: center;
  z-index: 8;
  margin: 3rem -5rem 11rem 2rem;
}

.SS-full-graphic-overlay {
  grid-column: 1 / 4;
  grid-row: 2 /5;
  height: 94%;
  z-index: 4;
  opacity: 78%;
}

.SS-landing-card-wrap {
  display: flex;
  width: 111%;
  flex-flow: column;
}

.SS-landing-card-wrap-mobile {
  display: flex;
}

.SS-info-overlay {
  z-index: 10;
}

.SS-button {
  background-color: #e95035;
  color: #fdf8ef;
  border-color: #fdf8ef;
}

.SS-button:hover {
  background-color: #fdf8ef;
  color: #d24f1b;
  border-color: black;
}

/* #Portfolio4 Natasha Wozniak Jewelry Cover Slide */

.cover-pg-nwd {
  background-color: #001843;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 12% 8%;
  grid-template-rows: 10% 80% 10%;
}

.nwd-card {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  align-self: center;
  border-radius: 15px;
}

.nw-card {
  margin-top: -2rem;
}

.nwd-cover-title {
  color: #001843;
  grid-column-start: 4;
  grid-row: 2 / span 2;
  align-self: center;
  justify-self: center;
  z-index: 2;
  white-space: nowrap;
  display: flex;
  margin: 0;
  justify-self: center;
  padding: 0 2.2em 0 0;
}

.view-nwd {
  color: #e3d9bb;
}
.nwd-logo {
  width: 50%;
  height: 50%;
  margin: 2rem;
}
.nwd-slide-title-box {
  grid-row: 1;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
}

/* Numerati Cover Page */

.cover-page-num {
  background-color: #d9d7d9;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 12% 8%;
  grid-template-rows: 10% 80% 10%;
}

.view-num {
  color: #3f4c68;
}

.num-cover-slide {
  width: 110%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 2;
  margin-left: -5rem;
}

.num-cover-illustration {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  z-index: 1;
  margin-left: -6rem;
  width: 110%;
}

.num-cover-monitor {
  display: none;
}

.num-cover-mobile {
  display: none;
}

/* Numerati Specific Slide Classes */
.NUM-slide-title {
  margin-right: 2rem;
}

.num-graphic-overlay {
  z-index: 4;
  padding: 2rem 0rem 2rem 2rem;
  width: 67%;
}
.num-part-graphic-overlay {
  grid-column: 3;
  grid-row: 1 /5;
  z-index: 4;
  opacity: 40%;
  margin-left: -2rem;
}
.num-full-graphic-overlay {
  grid-column: 1 / 4;
  grid-row: 1 /5;
  height: 100%;
  z-index: 4;
  opacity: 60%;
}

.num-logo {
  padding-top: 1rem;
  padding-left: 3rem;
  height: 42%;
  width: auto;
}

.num-slides {
  width: 80%;
  margin-left: 5rem;
}

.desktop-num-monitor {
  width: 68%;
  padding: 0 2rem;
}

.num-illustration-detail {
  height: 51%;
  width: auto;
  z-index: 20;
  border-radius: 100%;
  border: solid 2px #3f4c68;
  margin-left: -11rem;
  margin-top: 4rem;
}

.num-button {
  background-color: #3f4c68;
  color: #fdf8ef;
  border-color: #fdf8ef;
  margin: 3rem 0 0 0;
}

.num-button:hover {
  background-color: #fdf8ef;
  color: #3f4c68;
  border-color: black;
}

.nums-slide-graphic {
  grid-column: 3;
  grid-row: 1 / span 3;
}

.num-slide-title {
  margin-left: -15rem;
}

.num-slide-title-resize {
  font-size: 3rem;
}

.num-slide-subtitle {
  font-weight: 500;
  padding: 0;
}

.num-slide-position {
  margin-top: -5rem;
}

/* Contact Section */

.contact-up-arrow {
  position: fixed;
  margin: 5rem 0 0 4.5rem;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1.7rem solid #fff;
  opacity: 0.6;
}

.have-idea-title-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 4rem;
}

.have-idea-title {
  color: white;
  opacity: 0.9;
  line-height: 3.8rem;
  font-size: 4rem;
  margin-left: 10vw;
  white-space: nowrap;
}

.bulb-svg {
  z-index: 4;
  width: 40%;
  padding: 0rem 12rem 0 0;
}

.second-line {
  animation: 3.8s after-bulb 1 forwards;
  margin-top: 2rem;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 10vw;
  border-radius: 1rem;
}

.availability-text {
  font-size: 1.2rem;
  padding-left: 2rem;
  color: #001742;
}

.footer-text {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 10vw;
  padding-top: 0.4rem;
}

form {
  width: 75vw;
}

label {
  font-size: 1.3rem;
  color: #001742;
}

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 1.5px #001742;
  color: #001742;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

#form_button {
  background: none;
  border: solid 1.5px #001742;
  color: #001742;
  cursor: pointer;
  display: inline-block;
  font-family: "rajdhani";
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 5px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #fbb03b;
  color: #f2f3eb;
}

/* Lightbulb SVG strokes and fills */

.bulb-lines {
  fill: none;
  stroke: #ffffff;
  stroke-width: 7;
  stroke-linejoin: round;
}
.bulb-glow {
  fill: url(#halo_1_);
}
.dot-fill {
  fill: #ffffff;
}

/* Lightbulb Animation */

#cord {
  stroke-dasharray: 4500px;
}
.bulb-svg #cord {
  animation: 2s draw-cord 1 forwards;
}

#dot {
  animation: 1s dot-appear 1 forwards;
}
#bulb {
  stroke-dasharray: 1500px;
  animation: 3s bulb-on 1 forwards;
}
#halo {
  opacity: 0;
  animation: 0.7s glowing-light 1 forwards;
  animation-delay: 2.2s;
}
#filament_right,
#filament_left {
  stroke-dasharray: 500px;
  animation: 3s inner-bulb-on 1 forwards;
}
#filament_top {
  stroke-dasharray: 1000px;
  animation: 3s inner-filament-on 1 forwards;
}
@keyframes glowing-light {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bulb-on {
  from {
    stroke-dashoffset: 1500px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes inner-bulb-hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes inner-bulb-on {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes inner-filament-on {
  from {
    stroke-dashoffset: 2000px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-cord {
  from {
    stroke-dashoffset: 4500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dot-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes after-bulb {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.mt-1 {
  margin-top: 1rem;
}
.about-ipad {
  display: none;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1 !important;
}

/* replace custom arrow with default fullpage.js arrow to use default navigation with position*/
.slide-left,
.slide-right {
  display: none;
}
/* .section.active .fp-controlArrow {
  transition: .5s all ease-in-out;
} */

.fp-controlArrow {
  position: absolute;
  height: 50px;
  border: 0;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  opacity: 1;
  height: 172px;
  /* half of height 172/2*/
  margin-top: -86px;
}

.fp-controlArrow.fp-prev {
  left: 0;
  background: url(images/LeftArrow.png) no-repeat;
  width: 62px;
}

.fp-controlArrow.fp-next {
  right: 15px;
  background: url(images/RightArrow.png) no-repeat;
  width: 75px;
}
.fp-controlArrow.last-slide {
  right: 15px;
  background: url(images/MoveLeftArrow.png) no-repeat;
  width: 75px;
}

[class^="fp-viewing"][class$="0"] .fp-controlArrow {
  opacity: 0;
}
/*position of arrow wasn't adjusting because of overflow of content in homepage-6*/
